<footer class="bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Contents</h5>
        <ul class="list-unstyled">
          <li><a href="#">Courses</a></li>
          <li><a href="#">Tutorials</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Contact Us</h5>
        <address>
          <strong>Education Hub</strong><br>
          123 Street, Cityville<br>
          Country<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
      </div>

      <div class="col-md-4">
        <h5>More Information</h5>
        <ul class="list-unstyled">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; 2023 Education Hub</p>
    </div>
  </div>
</footer>
