<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://jovian.com/">
      <img src="/static/lgo.png" alt="Jovian Logo" height="30" class="d-inline-block align-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="https://jovian.com/" class="btn btn-primary" role="button">Jobs</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Courses
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://jovian.com/learn/data-analysis-with-python-zero-to-pandas">Data Analysis with Python</a></li>
            <li><a class="dropdown-item" href="https://jovian.com/learn/sql-and-business-intelligence">SQL and Business Intelligence</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://www.youtube.com/watch?v=yBDHkveJUf4&t=6340s">Something else here</a></li>
          </ul> <!-- Closing ul tag for Courses dropdown -->
        </li> <!-- Closing li tag for Courses dropdown -->
      </ul>
    </div>
  </div>
</nav>
